<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{Title}}</title>
</head>
<body>
{% block content %}
{% for bro in bros %}

    <div>
        bro: {{bro.bro_name}}
    </div>
    {% for b in bro.bros %}
        <div>
            send bro request:
            {{b.bro_id}}, {{b.bros_bro_id}} (accepted: {{b.accepted}})
        </div>
    {% endfor %}
    {% for b in bro.bro_bros %}
        <div>
            received bro request:
            {{b.bro_id}}, {{b.bros_bro_id}} (accepted: {{b.accepted}})
        </div>
    {% endfor %}
<p></p>
{% endfor %}
{%endblock%}
</body>
</html>